## Lab Task 01: MNIST

### Q2:  Evaluate machine leanring models using scikit-learn

In [1]:
import os
import subprocess
from IPython.display import display, HTML, Image
import io
from operator import itemgetter

from TAS_Python_Utilities import data_viz
from TAS_Python_Utilities import data_viz_target
from TAS_Python_Utilities import visualize_tree

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.tree import export_graphviz
from sklearn import tree
from sklearn import metrics
from sklearn import tree
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn import linear_model
from sklearn import neighbors

from xgboost import XGBClassifier

%matplotlib inline
%qtconsole

### Q3: Load and explore the MNIST fashion training dataset

In [2]:
mnist_test = pd.read_csv('fashion-mnist_test.csv')
mnist_train = pd.read_csv('fashion-mnist_train.csv')
mnist_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Q4: Dived the MNIST fashion training dataset into a train and validation datasets

In [3]:
X = mnist_train.loc[:, mnist_train.columns != "label"]
Y = mnist_train["label"]

In [4]:
X_train, X_valid, y_train, y_valid \
    = train_test_split(X,Y,random_state = 0, \
                                        train_size = 0.7)

### Q5: Dicision Tree

In [5]:
my_tree = \
    tree.DecisionTreeClassifier(criterion = "entropy")
my_tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

#### - MNIST fashion classification task

In [6]:
my_tree.classes_

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### Q6: Evaluate the performance of this tree on the MNIST fashion

In [7]:
# Make a set of predictions for the validation data
y_pred = my_tree.predict(X_valid)

# Print performance details
accuracy = \
metrics.accuracy_score(y_valid, y_pred) # , normalize=True, sample_weight=None
print("Accuracy: " +  str(accuracy))

print(metrics.classification_report(y_valid, y_pred))

# Print confusion matrix
print(metrics.confusion_matrix(y_valid, y_pred))

# Print nicer homemade confusion matrix
print("Confusion Matrix")
pd.crosstab(y_valid, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy: 0.8047777777777778
              precision    recall  f1-score   support

           0       0.75      0.74      0.75      1799
           1       0.95      0.94      0.94      1843
           2       0.70      0.70      0.70      1808
           3       0.81      0.80      0.81      1849
           4       0.69      0.70      0.69      1765
           5       0.91      0.90      0.91      1786
           6       0.55      0.55      0.55      1787
           7       0.88      0.89      0.88      1789
           8       0.91      0.92      0.91      1795
           9       0.89      0.91      0.90      1779

    accuracy                           0.80     18000
   macro avg       0.80      0.80      0.80     18000
weighted avg       0.81      0.80      0.80     18000

[[1337    6   37   92   15    4  278    0   30    0]
 [  16 1728   14   55    7    3   16    0    4    0]
 [  40    3 1272   27  219    0  230    0   16    1]
 [  81   56   31 1486   97    2   72    0   21    3]
 [  22    3  244   91 1228    0  162    0   12    3]
 [   4    4    1    1    1 1604    0   90   25   56]
 [ 267   16  217   67  188    3  986    0   42    1]
 [   0    0    0    0    0   78    0 1584    7  120]
 [  20    3   12   17   22   16   38   11 1646   10]
 [   0    0    0    0    0   44    3  115    2 1615]]
Confusion Matrix

Predicted     0     1     2     3     4     5     6     7     8     9    All
True
0          1337     6    37    92    15     4   278     0    30     0   1799
1            16  1728    14    55     7     3    16     0     4     0   1843
2            40     3  1272    27   219     0   230     0    16     1   1808
3            81    56    31  1486    97     2    72     0    21     3   1849
4            22     3   244    91  1228     0   162     0    12     3   1765
5             4     4     1     1     1  1604     0    90    25    56   1786
6           267    16   217    67   188     3   986     0    42     1   1787
7             0     0     0     0     0    78     0  1584     7   120   1789
8            20     3    12    17    22    16    38    11  1646    10   1795
9             0     0     0     0     0    44     3   115     2  1615   1779
All        1787  1819  1828  1836  1777  1754  1785  1800  1805  1809  18000

### Q7: Grid search to tune the hyperparaemters for this model

In [8]:
# Set up the parameter grid to seaerch
param_grid ={'criterion': ['gini', "entropy"], \
             'max_depth': list(range(3, 20, 3)), \
             'min_samples_split': [50] }

# Perform the search
my_tuned_tree = GridSearchCV(tree.DecisionTreeClassifier(), \
                                param_grid, cv=2, verbose = 0, \
                            return_train_score=True)
my_tuned_tree.fit(X_train, y_train)

# Print details
print("Best parameters set found on development set:")
display(my_tuned_tree.best_params_)
display(my_tuned_tree.best_score_)
display(my_tuned_tree.cv_results_)

Best parameters set found on development set:

{'criterion': 'entropy', 'max_depth': 12, 'min_samples_split': 50}

0.7911428571428571

{'mean_fit_time': array([1.20143294, 2.5325886 , 4.13262784, 5.48425353, 6.74732101,
        7.28275895, 1.27966213, 3.16512811, 5.14269853, 6.7146759 ,
        7.03930664, 7.23530149]),
 'std_fit_time': array([0.04403901, 0.00155127, 0.01601517, 0.0126096 , 0.01924908,
        0.15023398, 0.00388813, 0.01219904, 0.01389742, 0.108073  ,
        0.06329155, 0.27595878]),
 'mean_score_time': array([0.04179287, 0.03127301, 0.03199303, 0.0325439 , 0.03416002,
        0.03284204, 0.02979195, 0.03089654, 0.03164303, 0.0321511 ,
        0.03259683, 0.03326249]),
 'std_score_time': array([1.09269619e-02, 2.70724297e-04, 4.79817390e-04, 2.52008438e-04,
        5.26785851e-04, 1.20043755e-04, 6.80685043e-05, 8.04662704e-05,
        1.72972679e-04, 2.41994858e-05, 1.59740448e-05, 3.09705734e-04]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[3, 6, 9, 12, 15, 18, 3, 6, 9, 12, 15, 18],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini', 'max_depth': 3, 'min_samples_split': 50},
  {'criterion': 'gini', 'max_depth': 6, 'min_samples_split': 50},
  {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 50},
  {'criterion': 'gini', 'max_depth': 12, 'min_samples_split': 50},
  {'criterion': 'gini', 'max_depth': 15, 'min_samples_split': 50},
  {'criterion': 'gini', 'max_depth': 18, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 6, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 12, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 15, 'min_samples_split': 50},
  {'criterion': 'entropy', 'max_depth': 18, 'min_samples_split': 50}],
 'split0_test_score': array([0.49814321, 0.72171967, 0.77709008, 0.78066083, 0.78151781,
        0.77628071, 0.53232718, 0.73528852, 0.79156351, 0.79003999,
        0.78694534, 0.78784993]),
 'split1_test_score': array([0.50323871, 0.72766241, 0.7831968 , 0.79224614, 0.78791198,
        0.78443513, 0.51671747, 0.72647171, 0.77991046, 0.79224614,
        0.79134121, 0.7896266 ]),
 'mean_test_score': array([0.50069048, 0.72469048, 0.78014286, 0.78645238, 0.78471429,
        0.78035714, 0.52452381, 0.73088095, 0.7857381 , 0.79114286,
        0.78914286, 0.7887381 ]),
 'std_test_score': array([0.00254775, 0.00297137, 0.00305336, 0.00579266, 0.00319709,
        0.00407721, 0.00780485, 0.0044084 , 0.00582653, 0.00110307,
        0.00219793, 0.00088833]),
 'rank_test_score': array([12, 10,  8,  4,  6,  7, 11,  9,  5,  1,  2,  3], dtype=int32),
 'split0_train_score': array([0.50657268, 0.74090303, 0.82044199, 0.85630596, 0.87326157,
        0.87850067, 0.53700705, 0.75757287, 0.83649267, 0.86373595,
        0.87216613, 0.87345209]),
 'split1_train_score': array([0.49947629, 0.73790707, 0.81308322, 0.86093125, 0.87264331,
        0.87640449, 0.51752047, 0.7423824 , 0.8167968 , 0.85531327,
        0.87245287, 0.87445249]),
 'mean_train_score': array([0.50302449, 0.73940505, 0.81676261, 0.85861861, 0.87295244,
        0.87745258, 0.52726376, 0.74997764, 0.82664473, 0.85952461,
        0.8723095 , 0.87395229]),
 'std_train_score': array([0.0035482 , 0.00149798, 0.00367938, 0.00231264, 0.00030913,
        0.00104809, 0.00974329, 0.00759523, 0.00984793, 0.00421134,
        0.00014337, 0.0005002 ])}

### Q8: Other Methods

#### - Random Forests

In [9]:
# Do the same job with random forests
my_model = ensemble.RandomForestClassifier(n_estimators=300, \
                                           max_features = 3,\
                                           min_samples_split=200)
my_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=3, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=200,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
# Make a set of predictions for the test data
y_pred = my_model.predict(X_valid)

# Print performance details
print(metrics.classification_report(y_valid, y_pred))

# Print confusion matrix
print("Confusion Matrix")
pd.crosstab(y_valid, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

              precision    recall  f1-score   support

           0       0.75      0.82      0.78      1799
           1       1.00      0.93      0.96      1843
           2       0.71      0.77      0.74      1808
           3       0.77      0.91      0.83      1849
           4       0.70      0.74      0.72      1765
           5       0.96      0.91      0.93      1786
           6       0.71      0.40      0.51      1787
           7       0.90      0.90      0.90      1789
           8       0.90      0.96      0.93      1795
           9       0.90      0.94      0.92      1779

    accuracy                           0.83     18000
   macro avg       0.83      0.83      0.82     18000
weighted avg       0.83      0.83      0.82     18000

Confusion Matrix

Predicted     0     1     2     3     4     5     6     7     8     9    All
True
0          1471     1    34   155    13     3    83     0    39     0   1799
1             1  1720    40    73     4     0     4     0     1     0   1843
2             6     0  1399    17   272     0    86     0    28     0   1808
3            52     4    12  1688    43     0    45     0     5     0   1849
4             7     1   216   152  1302     0    71     0    16     0   1765
5             0     0     0     2     0  1624     0   103    15    42   1786
6           426     2   256    95   213     1   720     0    74     0   1787
7             0     0     0     0     0    41     0  1613     3   132   1789
8             3     0    18    16    11     3    11     4  1727     2   1795
9             0     0     1     0     0    27     0    77     2  1672   1779
All        1966  1728  1976  2198  1858  1699  1020  1797  1910  1848  18000

#### - Bagging

In [11]:
# Do the same job with random forests
my_model = ensemble.BaggingClassifier(base_estimator = tree.DecisionTreeClassifier(criterion="entropy", min_samples_leaf = 50), \
                                      n_estimators=10)
my_model.fit(X_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None,
                                                        criterion='entropy',
                                                        max_depth=None,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=50,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort=False,
                                                        random_state=None,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=10, n_jobs=None,
                  oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [12]:
# Make a set of predictions for the test data
y_pred = my_model.predict(X_valid)

# Print performance details
print(metrics.classification_report(y_valid, y_pred))

# Print confusion matrix
print("Confusion Matrix")
pd.crosstab(y_valid, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

              precision    recall  f1-score   support

           0       0.78      0.82      0.80      1799
           1       0.97      0.92      0.95      1843
           2       0.74      0.79      0.76      1808
           3       0.81      0.86      0.84      1849
           4       0.73      0.80      0.76      1765
           5       0.95      0.89      0.92      1786
           6       0.72      0.52      0.61      1787
           7       0.90      0.92      0.91      1789
           8       0.90      0.95      0.92      1795
           9       0.92      0.93      0.92      1779

    accuracy                           0.84     18000
   macro avg       0.84      0.84      0.84     18000
weighted avg       0.84      0.84      0.84     18000

Confusion Matrix

Predicted     0     1     2     3     4     5     6     7     8     9    All
True
0          1484     9    29    83     9     3   146     0    36     0   1799
1            12  1704    23    83     6     0    10     0     5     0   1843
2            20     1  1432    19   235     2    70     0    29     0   1808
3            80    26    21  1599    88     5    29     0     1     0   1849
4             5     4   158    87  1404     1    89     0    17     0   1765
5             0     4     1    10     0  1595     1    99    26    50   1786
6           288     7   256    70   174     4   934     0    54     0   1787
7             0     0     0     0     0    40     0  1642     7   100   1789
8             2     2    18    21    12    10    21    11  1698     0   1795
9             0     0     1     3     0    25     0    80    11  1659   1779
All        1891  1757  1939  1975  1928  1685  1300  1832  1884  1809  18000

#### - AdaBoost

In [13]:
# Do the same job with random forests
my_model = ensemble.AdaBoostClassifier(base_estimator = tree.DecisionTreeClassifier(criterion="entropy", min_samples_leaf = 50), \
                                       n_estimators=10)
my_model.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='entropy',
                                                         max_depth=None,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=50,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=10, random_state=None)

In [14]:
# Make a set of predictions for the test data
y_pred = my_model.predict(X_valid)

# Print performance details
print(metrics.classification_report(y_valid, y_pred))

# Print confusion matrix
print("Confusion Matrix")
pd.crosstab(y_valid, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

              precision    recall  f1-score   support

           0       0.76      0.68      0.72      1799
           1       0.99      0.93      0.96      1843
           2       0.68      0.65      0.67      1808
           3       0.81      0.84      0.83      1849
           4       0.67      0.65      0.66      1765
           5       0.90      0.91      0.90      1786
           6       0.43      0.54      0.48      1787
           7       0.89      0.88      0.88      1789
           8       0.95      0.93      0.94      1795
           9       0.91      0.90      0.91      1779

    accuracy                           0.79     18000
   macro avg       0.80      0.79      0.79     18000
weighted avg       0.80      0.79      0.79     18000

Confusion Matrix

Predicted     0     1     2     3     4     5     6     7     8     9    All
True
0          1223     0    38    91     6     1   416     0    24     0   1799
1            17  1707     6    76     7     0    29     0     1     0   1843
2            20     0  1182    17   237     0   346     0     6     0   1808
3            78    17    16  1553    68     0   115     0     2     0   1849
4             4     1   245    97  1146     0   270     0     2     0   1765
5             1     0     0     1     1  1619     2   103    18    41   1786
6           253     2   241    65   237     0   969     0    20     0   1787
7             0     0     0     0     0    97     0  1566     5   121   1789
8             9     0    12    10     5     6    85     4  1662     2   1795
9             1     0     0     0     0    73     1    93     2  1609   1779
All        1606  1727  1740  1910  1707  1796  2233  1766  1742  1773  18000

### Final Evaluation on Test Set

In [17]:
X_test = mnist_test.loc[:, mnist_train.columns != "label"]
y_test = mnist_test["label"]

In [18]:
# Make a set of predictions for the test data
y_pred = my_tuned_tree.predict(X_test)

# Print performance details
print(metrics.classification_report(y_test, y_pred))

# Print confusion matrix
print("Confusion Matrix")
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

              precision    recall  f1-score   support

           0       0.76      0.77      0.77      1000
           1       0.95      0.94      0.94      1000
           2       0.73      0.71      0.72      1000
           3       0.86      0.81      0.83      1000
           4       0.70      0.79      0.74      1000
           5       0.91      0.86      0.89      1000
           6       0.59      0.56      0.58      1000
           7       0.84      0.90      0.87      1000
           8       0.90      0.92      0.91      1000
           9       0.91      0.89      0.90      1000

    accuracy                           0.81     10000
   macro avg       0.82      0.81      0.81     10000
weighted avg       0.82      0.81      0.81     10000

Confusion Matrix

Predicted     0    1    2    3     4    5    6     7     8    9    All
True
0           768    4   15   39     3    3  144     0    24    0   1000
1            10  941    3   29     6    0    7     0     4    0   1000
2            12    1  708   10   160    1   97     0    11    0   1000
3            41   35   12  810    56    0   41     0     5    0   1000
4             5    1  100   25   787    0   79     0     3    0   1000
5             6    4    3    0     0  861    0    85    21   20   1000
6           153    7  121   27   108    0  562     0    22    0   1000
7             0    0    0    0     0   36    0   898     4   62   1000
8            11    1   10    4     8   18   21    10   916    1   1000
9             1    1    1    1     0   23    1    78     5  889   1000
All        1007  995  973  945  1128  942  952  1071  1015  972  10000

### - Best Method in this training set: Bagging

In [19]:
# Do the same job with random forests
my_model = ensemble.BaggingClassifier(base_estimator = tree.DecisionTreeClassifier(criterion="entropy", min_samples_leaf = 50), \
                                      n_estimators=10)
my_model.fit(X_test,y_test)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None,
                                                        criterion='entropy',
                                                        max_depth=None,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=50,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort=False,
                                                        random_state=None,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=10, n_jobs=None,
                  oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [20]:
# Make a set of predictions for the test data
y_pred = my_model.predict(X_valid)

# Print performance details
print(metrics.classification_report(y_valid, y_pred))

# Print confusion matrix
print("Confusion Matrix")
pd.crosstab(y_valid, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

              precision    recall  f1-score   support

           0       0.77      0.78      0.77      1799
           1       0.97      0.88      0.93      1843
           2       0.69      0.73      0.71      1808
           3       0.77      0.86      0.81      1849
           4       0.67      0.78      0.72      1765
           5       0.93      0.88      0.90      1786
           6       0.67      0.45      0.54      1787
           7       0.86      0.91      0.88      1789
           8       0.86      0.93      0.89      1795
           9       0.92      0.90      0.91      1779

    accuracy                           0.81     18000
   macro avg       0.81      0.81      0.81     18000
weighted avg       0.81      0.81      0.81     18000

Confusion Matrix

Predicted     0     1     2     3     4     5     6     7     8     9    All
True
0          1396    16    53   115     7     5   166     0    41     0   1799
1             8  1630    42   140     8     1     9     0     5     0   1843
2            14     1  1318    14   342     1    66     0    52     0   1808
3            67    14    35  1583   106     4    32     0     8     0   1849
4            15     2   154    68  1376     1   112     0    37     0   1765
5             0     6     1    11     0  1570     0   127    32    39   1786
6           312     4   278    84   215     4   807     0    83     0   1787
7             0     0     0     0     0    63     0  1625     9    92   1789
8             6     3    29    38     9     9    12    11  1676     2   1795
9             0     0     1     3     1    26     0   128    12  1608   1779
All        1818  1676  1911  2056  2064  1684  1204  1891  1955  1741  18000